infra/glue-workflow.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: Version 3 downstream workflow using EventBridge and Step Functions to orchestrate DM and ADS Glue jobs.

Parameters:
  ProjectName:
    Type: String
    Default: reservation-analytics
  ArtifactBucket:
    Type: String
    Description: Existing S3 bucket containing code and mock data.
  UpstreamDataBucket:
    Type: String
    Description: Existing S3 bucket containing upstream DWD and DIM data.

  UpstreamDwdDatabase:
    Type: String
    Default: reservation_dwd

  UpstreamDimDatabase:
    Type: String
    Default: reservation_dim

  DwdReservationTableName:
    Type: String
    Default: dwd_reservation_event

  DwdPaidOrderTableName:
    Type: String
    Default: dwd_paid_order

  DimCampaignTableName:
    Type: String
    Default: dim_campaign

  UpstreamEventSource:
    Type: String
    Default: data-platform.upstream

  UpstreamEventDetailType:
    Type: String
    Default: Reservation DWD Data Ready

Resources:
  GlueExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${ProjectName}-glue-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: glue.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSGlueServiceRole
      Policies:
        - PolicyName: DataAndCodeAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: s3:ListBucket
                Resource: !Sub 'arn:aws:s3:::${ArtifactBucket}'
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:PutObject
                  - s3:DeleteObject
                Resource: !Sub 'arn:aws:s3:::${ArtifactBucket}/*'
              - Effect: Allow
                Action: s3:ListBucket
                Resource: !Sub 'arn:aws:s3:::${UpstreamDataBucket}'
              - Effect: Allow
                Action:
                  - s3:GetObject
                Resource: !Sub 'arn:aws:s3:::${UpstreamDataBucket}/*'
              - Effect: Allow
                Action:
                  - glue:GetDatabase
                  - glue:GetDatabases
                  - glue:GetTable
                  - glue:GetTables
                  - glue:GetPartition
                  - glue:GetPartitions
                Resource: '*'


  DmDatabase:
    Type: AWS::Glue::Database
    Properties:
      CatalogId: !Ref AWS::AccountId
      DatabaseInput:
        Name: reservation_dm

  AdsDatabase:
    Type: AWS::Glue::Database
    Properties:
      CatalogId: !Ref AWS::AccountId
      DatabaseInput:
        Name: reservation_ads


  DmConversionTable:
    Type: AWS::Glue::Table
    Properties:
      CatalogId: !Ref AWS::AccountId
      DatabaseName: !Ref DmDatabase
      TableInput:
        Name: dm_reservation_conversion
        TableType: EXTERNAL_TABLE
        Parameters: {classification: parquet, EXTERNAL: 'TRUE'}
        StorageDescriptor:
          Location: !Sub 's3://${ArtifactBucket}/curated/dm_reservation_conversion/'
          InputFormat: org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat
          OutputFormat: org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat
          SerdeInfo: {SerializationLibrary: org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe}
          Columns:
            - {Name: reservation_id, Type: string}
            - {Name: mid, Type: string}
            - {Name: campaign_id, Type: string}
            - {Name: product_id, Type: string}
            - {Name: site, Type: string}
            - {Name: reserve_time, Type: timestamp}
            - {Name: channel, Type: string}
            - {Name: reserve_flag, Type: int}
            - {Name: order_flag, Type: int}
            - {Name: tag_reserved_not_paid, Type: int}
            - {Name: conversion_segment, Type: string}
            - {Name: order_id, Type: string}
            - {Name: order_time, Type: timestamp}

  AdsCampaignTable:
    Type: AWS::Glue::Table
    Properties:
      CatalogId: !Ref AWS::AccountId
      DatabaseName: !Ref AdsDatabase
      TableInput:
        Name: ads_campaign_conversion
        TableType: EXTERNAL_TABLE
        Parameters: {classification: parquet, EXTERNAL: 'TRUE'}
        StorageDescriptor:
          Location: !Sub 's3://${ArtifactBucket}/curated/ads_campaign_conversion/'
          InputFormat: org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat
          OutputFormat: org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat
          SerdeInfo: {SerializationLibrary: org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe}
          Columns:
            - {Name: campaign_id, Type: string}
            - {Name: site, Type: string}
            - {Name: channel, Type: string}
            - {Name: reserved_users, Type: bigint}
            - {Name: paid_users, Type: bigint}
            - {Name: unconverted_users, Type: bigint}
            - {Name: conversion_rate, Type: double}

  AdsCrmTable:
    Type: AWS::Glue::Table
    Properties:
      CatalogId: !Ref AWS::AccountId
      DatabaseName: !Ref AdsDatabase
      TableInput:
        Name: ads_crm_reserved_not_paid
        TableType: EXTERNAL_TABLE
        Parameters: {classification: parquet, EXTERNAL: 'TRUE'}
        StorageDescriptor:
          Location: !Sub 's3://${ArtifactBucket}/curated/ads_crm_reserved_not_paid/'
          InputFormat: org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat
          OutputFormat: org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat
          SerdeInfo: {SerializationLibrary: org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe}
          Columns:
            - {Name: mid, Type: string}
            - {Name: campaign_id, Type: string}
            - {Name: product_id, Type: string}
            - {Name: site, Type: string}
            - {Name: channel, Type: string}
            - {Name: reserve_time, Type: timestamp}


  DmConversionJob:
    Type: AWS::Glue::Job
    Properties:
      Name: !Sub '${ProjectName}-dm-reservation-conversion'
      Role: !GetAtt GlueExecutionRole.Arn
      GlueVersion: '5.0'
      WorkerType: G.1X
      NumberOfWorkers: 2
      Timeout: 20
      Command:
        Name: glueetl
        PythonVersion: '3'
        ScriptLocation: !Sub 's3://${ArtifactBucket}/code/glue_jobs/run_single_sql_job.py'
      DefaultArguments:
        '--CODE_BASE_PATH': !Sub 's3://${ArtifactBucket}/code'
        '--SQL_PATH': sql/dm/30_dm_reservation_conversion.sql
        '--OUTPUT_VIEW': dm_reservation_conversion
        '--OUTPUT_PATH': !Sub 's3://${ArtifactBucket}/curated/dm_reservation_conversion'
        '--INPUT_TABLES_JSON': !Sub |
          [
            {"database":"${UpstreamDwdDatabase}","table":"${DwdReservationTableName}","view":"dwd_reservation_event"},
            {"database":"${UpstreamDwdDatabase}","table":"${DwdPaidOrderTableName}","view":"dwd_paid_order"},
            {"database":"${UpstreamDimDatabase}","table":"${DimCampaignTableName}","view":"dim_campaign"}
          ]
        '--enable-metrics': 'true'
        '--enable-observability-metrics': 'true'

  AdsCampaignJob:
    Type: AWS::Glue::Job
    Properties:
      Name: !Sub '${ProjectName}-ads-campaign-conversion'
      Role: !GetAtt GlueExecutionRole.Arn
      GlueVersion: '5.0'
      WorkerType: G.1X
      NumberOfWorkers: 2
      Timeout: 20
      Command:
        Name: glueetl
        PythonVersion: '3'
        ScriptLocation: !Sub 's3://${ArtifactBucket}/code/glue_jobs/run_single_sql_job.py'
      DefaultArguments:
        '--CODE_BASE_PATH': !Sub 's3://${ArtifactBucket}/code'
        '--SQL_PATH': sql/ads/40_ads_campaign_conversion.sql
        '--OUTPUT_VIEW': ads_campaign_conversion
        '--OUTPUT_PATH': !Sub 's3://${ArtifactBucket}/curated/ads_campaign_conversion'
        '--INPUT_TABLES_JSON': '[{"database":"reservation_dm","table":"dm_reservation_conversion","view":"dm_reservation_conversion"}]'
        '--enable-metrics': 'true'
        '--enable-observability-metrics': 'true'

  AdsCrmJob:
    Type: AWS::Glue::Job
    Properties:
      Name: !Sub '${ProjectName}-ads-crm-reserved-not-paid'
      Role: !GetAtt GlueExecutionRole.Arn
      GlueVersion: '5.0'
      WorkerType: G.1X
      NumberOfWorkers: 2
      Timeout: 20
      Command:
        Name: glueetl
        PythonVersion: '3'
        ScriptLocation: !Sub 's3://${ArtifactBucket}/code/glue_jobs/run_single_sql_job.py'
      DefaultArguments:
        '--CODE_BASE_PATH': !Sub 's3://${ArtifactBucket}/code'
        '--SQL_PATH': sql/ads/50_ads_crm_reserved_not_paid.sql
        '--OUTPUT_VIEW': ads_crm_reserved_not_paid
        '--OUTPUT_PATH': !Sub 's3://${ArtifactBucket}/curated/ads_crm_reserved_not_paid'
        '--INPUT_TABLES_JSON': '[{"database":"reservation_dm","table":"dm_reservation_conversion","view":"dm_reservation_conversion"}]'
        '--enable-metrics': 'true'
        '--enable-observability-metrics': 'true'




  StepFunctionsExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${ProjectName}-step-functions-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: RunReservationAnalyticsGlueJobs
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - glue:StartJobRun
                  - glue:GetJobRun
                  - glue:GetJobRuns
                  - glue:BatchStopJobRun
                Resource:
                  - !Sub 'arn:${AWS::Partition}:glue:${AWS::Region}:${AWS::AccountId}:job/${DmConversionJob}'
                  - !Sub 'arn:${AWS::Partition}:glue:${AWS::Region}:${AWS::AccountId}:job/${AdsCampaignJob}'
                  - !Sub 'arn:${AWS::Partition}:glue:${AWS::Region}:${AWS::AccountId}:job/${AdsCrmJob}'

  ReservationAnalyticsStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub '${ProjectName}-state-machine'
      StateMachineType: STANDARD
      RoleArn: !GetAtt StepFunctionsExecutionRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "Run DM, then run the two ADS Glue jobs in parallel.",
          "StartAt": "Run DM Conversion",
          "States": {
            "Run DM Conversion": {
              "Type": "Task",
              "Resource": "arn:${AWS::Partition}:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "${DmConversionJob}",
                "Arguments": {
                  "--BUSINESS_DATE.$": "$.detail.business_date"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed"
                  ],
                  "IntervalSeconds": 30,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "ResultPath": "$.dm_error",
                  "Next": "Workflow Failed"
                }
              ],
              "Next": "Run ADS Jobs"
            },
            "Run ADS Jobs": {
              "Type": "Parallel",
              "Branches": [
                {
                  "StartAt": "Run ADS Campaign",
                  "States": {
                    "Run ADS Campaign": {
                      "Type": "Task",
                      "Resource": "arn:${AWS::Partition}:states:::glue:startJobRun.sync",
                      "Parameters": {
                        "JobName": "${AdsCampaignJob}",
                        "Arguments": {
                          "--BUSINESS_DATE.$": "$.detail.business_date"
                        }
                      },
                      "Retry": [
                        {
                          "ErrorEquals": [
                            "States.TaskFailed"
                          ],
                          "IntervalSeconds": 30,
                          "MaxAttempts": 2,
                          "BackoffRate": 2.0
                        }
                      ],
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "Run ADS CRM",
                  "States": {
                    "Run ADS CRM": {
                      "Type": "Task",
                      "Resource": "arn:${AWS::Partition}:states:::glue:startJobRun.sync",
                      "Parameters": {
                        "JobName": "${AdsCrmJob}",
                        "Arguments": {
                          "--BUSINESS_DATE.$": "$.detail.business_date"
                        }
                      },
                      "Retry": [
                        {
                          "ErrorEquals": [
                            "States.TaskFailed"
                          ],
                          "IntervalSeconds": 30,
                          "MaxAttempts": 2,
                          "BackoffRate": 2.0
                        }
                      ],
                      "End": true
                    }
                  }
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "ResultPath": "$.ads_error",
                  "Next": "Workflow Failed"
                }
              ],
              "Next": "Workflow Succeeded"
            },
            "Workflow Succeeded": {
              "Type": "Succeed"
            },
            "Workflow Failed": {
              "Type": "Fail",
              "Error": "ReservationAnalyticsPipelineFailed",
              "Cause": "A DM or ADS Glue job failed after retry."
            }
          }
        }

  EventBridgeStepFunctionsRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${ProjectName}-eventbridge-step-functions-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StartReservationAnalyticsStateMachine
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource: !GetAtt ReservationAnalyticsStateMachine.Arn

  UpstreamDwdReadyRule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub '${ProjectName}-upstream-dwd-ready'
      Description: Starts the Step Functions state machine after upstream DWD and DIM are ready.
      State: ENABLED
      EventPattern:
        source:
          - !Ref UpstreamEventSource
        detail-type:
          - !Ref UpstreamEventDetailType
        detail:
          status:
            - SUCCEEDED
          dwd_ready:
            - true
          dim_ready:
            - true
      Targets:
        - Arn: !GetAtt ReservationAnalyticsStateMachine.Arn
          RoleArn: !GetAtt EventBridgeStepFunctionsRole.Arn
          Id: StartReservationAnalyticsStateMachine
          RetryPolicy:
            MaximumEventAgeInSeconds: 3600
            MaximumRetryAttempts: 2

Outputs:
  StateMachineArn:
    Value: !Ref ReservationAnalyticsStateMachine

  StateMachineName:
    Value: !GetAtt ReservationAnalyticsStateMachine.Name

  UpstreamDwdReadyRuleName:
    Value: !Ref UpstreamDwdReadyRule

  ArtifactBucket:
    Value: !Ref ArtifactBucket
